global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    chain: '${CHAIN}'
    node: '${NODE_LABEL}'

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: 'hyperliquid'
    static_configs:
      - targets:
          - '${EXPORTER_TARGET}'
        labels:
          chain: '${CHAIN}'
          node: '${NODE_LABEL}'
          node_mode: '${NODE_MODE}'

  - job_name: 'node_exporter'
    static_configs:
      - targets:
          - 'node_exporter:9100'
        labels:
          chain: '${CHAIN}'
          node: '${NODE_LABEL}'

  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 'localhost:9090'
